# Go to https://ds.lis.2i2c.cloud/hub/admin and look at the
# bottom left for the JupyterHub App version. e.g 4.1.5.
# Make sure that version matches below.

# Or: check the Helm chart version for the JupyterHub instances somehow,
# then check at
# https://jupyterhub.github.io/helm-chart/#development-releases-jupyterhub
# for the jupyterhub app version corresponding to the Helm chart release.
jupyterhub==4.1.5

# Choose some version, maybe from PyPI, that matches the JupyterHub version.
nbgitpuller==1.2.1

scipy
matplotlib
pandas
statsmodels
scikit-image
scikit-learn
jupytext
okpy
folium
seaborn
openpyxl
pyreadstat
spaCy
nltk
sympy
nibabel
nipraxis
pytest
gensim
numba
notebook
nbclassic
otter-grader
pygame
nbwc
lxml
SQLAlchemy
beautifulsoup4
plotly
geopandas
wget
# For ds-100 textbook
myst_nb
kaleido

# To silence Pandas warning
pyarrow

ipywidgets
jupyter-tree-download
git+https://github.com/pxr687/jupyprint.git
jupyter-resource-usage
